body{
    width: 1920px;
    height: 1080px;
    margin: 0px;
}


.nameTag1{
    position: fixed;
    width: 589px;
    height: 52px;
    top: 8px;
    left: 45px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 52px;
    transform: skewX(-15deg);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}
.nameTag2{
    position: fixed;
    width: 589px;
    height: 52px;
    background-color: white;
    top: 8px;
    left: 1290px;
    text-align: center;
    color:black;
    font-size: 52px;
    transform: skew(15deg);
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.scoreBox1{
    position: fixed;
    top: 8px;
    left: 644px;
    height: 52px;
    width: 64px;
    background-color: red;
    transform: skewX(-15deg);
    font-size: 52px;
    text-align: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.scoreBox2{
    position: fixed;
    top: 8px;
    left: 1220px;
    height: 52px;
    width: 64px;
    background-color: blue;
    transform: skewX(15deg);
    font-size: 52px;
    text-align: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}